
.canvas-zoom-input {
  width: 200px !important;
  margin-top: .125rem !important;
}

#canvasToolExplorerHeader_Navbar_Title_Unactive_Label {
  color: var(--explorer-control-label-color) !important;
  font-size: x-large;
  font-weight: bold;
}

#canvasToolExplorerHeader_Navbar_Title_Active_Label {
  color: var(--explorer-control-label-color) !important;
  font-size: x-large;
  font-weight: bold;
}

#canvasToolExplorerHeader_Navbar_Title_Active_Separator {
  color: var(--explorer-control-label-color) !important;
  font-size: x-large;
}

#canvasToolExplorerHeader_Navbar_Title_Active_Name {
  color: var(--app-main-color) !important;
  font-size: x-large;
}
