<header class="border-bottom" id="{{ baseHtmlId }}">
  <div class="d-flex justify-content-between ps-2 pb-1 pt-1" id="{{ headerTopHtmlId }}">
    <button class="navbar-toggler" type="button" id="{{ headerTopHtmlId }}_Toggle"
            data-bs-toggle="collapse" [attr.data-bs-target]="'#' + headerBottomHtmlId">
      <i class="bi bi-list h3" id="{{ headerTopHtmlId }}_Toggle_Icon"></i>
    </button>
    <div class="d-flex align-items-center pb-1" id="{{ headerTopHtmlId }}_Title">
      <h1 class="root-header-title-name-start m-0" id="{{ headerTopHtmlId }}_Title_Start">
        {{ titleStart }}
      </h1>
      <h1 class="root-header-title-name-end m-0" id="{{ headerTopHtmlId }}_Title_End">
        {{ titleEnd }}
      </h1>
      <img class="root-header-title-logo m-0 ms-2" src="{{ logoPath }}" id="{{ headerTopHtmlId }}_Title_Logo"/>
    </div>
    <div class="d-flex align-items-center ms-3 me-3" id="{{ headerTopHtmlId }}_DarkMode_Switch">
      <div class="form-check" id="{{ headerTopHtmlId }}_DarkMode_Switch_Holder">
        <label class="form-check-label" for="{{ headerTopHtmlId }}_DarkMode_Switch_Input" id="{{ headerTopHtmlId }}_DarkMode_Switch_Label">
          <i *ngIf="darkMode" class="bi bi-moon-fill dark-mode-icon" title="Switch to Light Mode" id="{{ headerTopHtmlId }}_DarkMode_Switch_DarkLabel"></i>
          <i *ngIf="!darkMode" class="bi bi-sun h4" title="Switch to Dark Mode" id="{{ headerTopHtmlId }}_DarkMode_Switch_LightLabel"></i>
        </label>
        <input class="btn-check" type="checkbox" checked id="{{ headerTopHtmlId }}_DarkMode_Switch_Input"/>
      </div>
    </div>
  </div>
  <div class="border-top p-0 pb-1 collapse" id="{{ headerBottomHtmlId }}">
    <nav class="navbar navbar-expand-lg p-0" id="{{ headerBottomHtmlId }}_Nav">
      <ul class="navbar-nav p-0" id="{{ headerBottomHtmlId }}_Nav_List">
        <li class="nav-item border-end" id="{{ headerBottomHtmlId }}_Nav_ListItem_DocumentationExplorer">
          <a class="nav-link pt-0 pb-0" [routerLinkActive]="['active']" id="{{ headerBottomHtmlId }}_Nav_ListItem_DocumentationExplorer_Link"
            routerLink="documentation">
            documentation
          </a>
        </li>
        <li class="nav-item border-end" id="{{ headerBottomHtmlId }}_Nav_ListItem_ModelExplorer">
          <a class="nav-link pt-0 pb-0" [routerLinkActive]="['active']" id="{{ headerBottomHtmlId }}_Nav_ListItem_ModelExplorer_Link"
            routerLink="model">
            model
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
