#codeViewer {
  height: 100%;
}

#codeViewer_ModelSourceFileExplorerPanel {
  height: 100%;
}

#codeViewer_ModelSourceFileExplorerPanel {
  overflow: hidden;
}

#codeViewer_ModelSourceFileExplorerPanel:hover {
  overflow: scroll;
}

#codeViewer_CodePanel_Editor {
  height: 100%;
}
