<div class="border-bottom pt-2 pb-1 ps-3 pe-2" id="codeModelExplorer_Header">
  <div id="codeModelExplorer_Header_ActionContainer">
    <nav class="navbar navbar-expand-lg p-0 mb-1" id="codeModelExplorer_Header_ActionContainer_Navbar" >
      <div class="d-flex align-items-center" id="codeModelExplorer_Header_ActionContainer_Navbar_Title" >
        <span class="navbar-brand pt-0" id="codeModelExplorer_Header_ActionContainer_Navbar_Title_Name" >code model</span >
      </div>
      <div class="dropdown border-end explorer-dropdown" id="codeModelExplorer_Header_ActionContainer_Navbar_SourceDropdown" >
        <button class="dropdown-toggle btn explorer-dropdown-toggle" type="button" id="codeModelExplorer_Header_ActionContainer_Navbar_SourceDropdown_ToggleButton" >
          source
        </button>
        <ul class="dropdown-menu explorer-dropdown-list" id="codeModelExplorer_Header_ActionContainer_Navbar_SourceDropdown_List" >
          <li id="codeModelExplorer_Header_ActionContainer_Navbar_SourceDropdown_List_ListItem_Project" >
            <a class="dropdown-item" (click)="projectExplorerToggleClicked()" id="codeModelExplorer_Header_ActionContainer_Navbar_SourceDropdown_List_ListItem_Project_Link" >project</a >
          </li>
        </ul>
      </div>
      <div class="dropdown explorer-dropdown" id="codeModelExplorer_Header_ActionContainer_Navbar_ComponentDropdown" >
        <button class="dropdown-toggle btn explorer-dropdown-toggle" type="button" id="codeModelExplorer_Header_ActionContainer_Navbar_ComponentDropdown_ToggleButton" >
          detail
        </button>
        <ul class="dropdown-menu explorer-dropdown-list" id="codeModelExplorer_Header_ActionContainer_Navbar_ComponentDropdown_List" >
        </ul>
      </div>
    </nav>
  </div>
</div>
