<div class="menu-title border-bottom menu-title-shadow sub-header ps-3 pt-3 pb-3" id="{{ baseHtmlId }}_Title">
  <div id="{{ baseHtmlId }}_ContentToggle_Label">
    <div id="{{ baseHtmlId }}_ContentToggle_LabelFillerDivLeft"></div>
    <span class="h5 sidebar-menu-label-activated-primary" id="{{ baseHtmlId }}_ContentToggle_LabelName">
      source url
    </span>
    <div class="d-flex align-items-center" id="{{ baseHtmlId }}_ContentToggle_LabelIconHolder">
    </div>
  </div>
</div>
<div class="sidebar-menu-form ps-2 pe-2 pb-4" id="{{ this.baseHtmlId }}_Content">
  <menu-select *ngIf="showSelect" [baseHtmlId]="menuSelectBaseHtmlId" [availableKeys]="getAvailableUrlKeys()" id="{{ baseHtmlId }}_MenuSelect"
            (keyWasSelected)="loadUrlForEdit($event)" (addNewButtonClicked)="loadNewUrlForEdit()">
  </menu-select>
  <db-model-source-url-edit-form *ngIf="!showSelect" [urlForEditObservable]="urlForEdit$.asObservable()" id="{{ baseHtmlId }}_EditForm"
                            (sourceUrlWasUpdated)="resetUrlEdit()" (resetEditButtonClicked)="resetUrlEdit()" >
  </db-model-source-url-edit-form>
</div>
