<collapsible-menu id="{{ this.baseHtmlId }}" [showBottomPadding]="showBottomPadding"
                  [menuContentIsClosed]="menuContentIsClosed" [menuTitle]="menuTitle"
                  [baseHtmlId]="baseHtmlId" [isSubMenu]="true"
                  (menuToggleEvent)="menuClickedEventHandler()" >
  <nav class="menu-tab-group-shadow" id="{{ this.baseHtmlId }}_TabNavigation">
    <div class="nav nav-tabs" role="tablist" id="{{ this.baseHtmlId }}_TabNavigation_TabList" >
      <button class="nav-link active menu-tab" id="{{ this.baseHtmlId }}_TabNavigation_TabList_UrlTab_Toggle"
              data-bs-toggle="tab" [attr.data-bs-target]="'#' + baseHtmlId + '_TabContent_UrlTab_Content'"
              type="button" role="tab" >
        model
      </button>
      <button class="nav-link menu-tab" id="{{ this.baseHtmlId }}_TabNavigation_TabList_ConfigTab_Toggle"
              data-bs-toggle="tab" [attr.data-bs-target]="'#' + baseHtmlId + '_TabContent_ConfigTab_Content'"
              type="button" role="tab" >
        source
      </button>
    </div>
  </nav>
  <div class="tab-content sidebar-menu-form" id="{{ this.baseHtmlId }}_TabContent">
    <div class="tab-pane fade show active" role="tabpanel" id="{{ this.baseHtmlId }}_TabContent_UrlTab_Content">
      <db-model-editor id="{{ this.baseHtmlId }}_ModelEditor"></db-model-editor>
    </div>
    <div class="tab-pane fade" role="tabpanel" id="{{ this.baseHtmlId }}_TabContent_ConfigTab_Content">
      <db-model-source-editor id="{{ this.baseHtmlId }}_DbModelSourceCreate"></db-model-source-editor>
    </div>
  </div>
</collapsible-menu>
