<div class="ps-1 pe-1 pt-3 pb-2" id="columnModelEditForm_Title">
  <h5 class="sidebar-menu-form-title h5" id="columnModelEditForm_Title_Name" >
    {{ isColumnModelNew(columnModelForEdit) ? "add new" : "edit" }}
  </h5>
</div>
<form class="m-2" [formGroup]="columnModelEditForm" (ngSubmit)="saveColumnModel()" id="columnModelEditForm_Form" >
  <div class="mb-3" id="columnModelEditForm_Form_NameSection">
    <label class="form-label sidebar-menu-label-primary" for="columnModelEditForm_Form_NameSection_Input" id="columnModelEditForm_Form_NameSection_Label" >name</label >
    <input class="form-control form-control-sm" formControlName="name" type="text" id="columnModelEditForm_Form_NameSection_Input" />
  </div>
  <div class="mb-3" id="columnModelEditForm_Form_DescriptionSection">
    <label class="form-label sidebar-menu-label-primary" for="columnModelEditForm_Form_DescriptionSection_Input" id="columnModelEditForm_Form_DescriptionSection_Label" >description</label >
    <input class="form-control form-control-sm" formControlName="description" type="text" id="columnModelEditForm_Form_DescriptionSection_Input" />
  </div>
  <div class="mb-3" id="columnModelEditForm_Form_DataTypeSection">
    <label class="form-label sidebar-menu-label-primary" for="columnModelEditForm_Form_DataTypeSection_Select" id="columnModelEditForm_Form_DataTypeSection_Label" >data type</label >
    <select class="form-control form-control-sm form-select" formControlName="dataType" id="columnModelEditForm_Form_DataTypeSection_Select" >
      <option *ngFor="let availableDbDataType of availableDbDataTypes" [ngValue]="availableDbDataType" id="columnModelEditForm_Form_DataTypeSection_Select_Option_{{ availableDbDataType.name }}" >
        {{ availableDbDataType.name }}
      </option>
    </select>
  </div>
  <div class="mb-3" id="columnModelEditForm_Form_ColumnCategorySection">
    <label class="form-label sidebar-menu-label-primary" for="columnModelEditForm_Form_ColumnCategorySection_Select" id="columnModelEditForm_Form_ColumnCategorySection_Label" >category</label >
    <select class="form-control form-control-sm form-select" formControlName="columnCategory" id="columnModelEditForm_Form_ColumnCategorySection_Select" >
      <option *ngFor="let availableColumnCategory of availableColumnCategories" [ngValue]="availableColumnCategory" id="columnModelEditForm_Form_ColumnCategorySection_Select_Option_{{ availableColumnCategory.name }}" >
        {{ availableColumnCategory.name }}
      </option>
    </select>
  </div>
  <div class="d-flex justify-content-end ps-1 pe-1 pt-3 pb-1" id="columnModelEditForm_Form_Controls" >
    <button class="btn btn-sm main-action-button m-2" type="submit" id="columnModelEditForm_Form_Controls_SaveButton" >
      save
    </button>
    <button class="btn btn-sm main-cancel-button m-2" type="button" (click)="resetColumnModelEdit()" id="columnModelEditForm_Form_Controls_CancelButton" >
      cancel
    </button>
  </div>
</form>
