<div class="pt-2 pb-1 ps-3 pe-2" id="canvasViewerContent_Header">
  <!-- <div class="d-flex" id="canvasViewerContent_HeaderTop">
        <button class="navbar-toggler" (click)="sidebarToggleClicked()" type="button" id="canvasViewerContent_SidebarToggle"
                data-bs-toggle="collapse" data-bs-target="#canvasViewerSidebar">
            <i class="bi bi-arrow-right-circle-fill h3" id="canvasViewerContent_SidebarToggle_Icon"></i>
        </button>
        <h1 class="text-center ms-4" *ngIf="canvasTitle" id="canvasViewerContent_Title">{{canvasTitle}}</h1>
    </div> -->
  <div id="canvasViewerContent_HeaderBottom">
    <nav class="navbar navbar-expand-lg p-0 mb-1" id="canvasViewerContent_ActionBar" >
      <div *ngIf="!canvasTitle" class="d-flex align-items-center" id="canvasViewerContent_ActionBar_Title_Unactive" >
        <span class="navbar-brand pt-0" id="canvasViewerContent_ActionBar_Title_Unactive_Label" >canvas viewer</span >
      </div>
      <div *ngIf="canvasTitle" class="d-flex align-items-center" id="canvasViewerContent_ActionBar_Title_Active" >
        <span class="navbar-brand pt-0" id="canvasViewerContent_ActionBar_Title_Active_Label" >canvas viewer</span >
        <span class="navbar-brand pt-0" id="canvasViewerContent_ActionBar_Title_Active_Separator" >|</span >
        <span class="canvas-title navbar-brand pt-0" id="canvasViewerContent_ActionBar_Title_Active_Name" >{{ canvasTitle }}</span >
      </div>
      <div class="dropdown border-end action-bar-dropdown" id="canvasViewerContent_ActionBar_LoadCanvasDropdown" >
        <button class="dropdown-toggle btn canvas-viewer-control-item" type="button" id="canvasViewerContent_ActionBar_LoadCanvasDropdown_Toggle" >
          load canvas
        </button>
        <ul class="dropdown-menu action-bar-dropdown-list" id="canvasViewerContent_ActionBar_LoadCanvasDropdown_List" >
          <li *ngFor="let canvasName of availableCanvasNames" id="canvasViewerContent_ActionBar_LoadCanvasDropdown_ListItem_{{ canvasName }}" >
            <a class="dropdown-item" (click)="loadSelectedCanvas(canvasName)" id="canvasViewerContent_ActionBar_LoadCanvasDropdown_ListItem_{{ canvasName }}_Link" >{{ canvasName }}</a >
          </li>
        </ul>
      </div>
      <div class="dropdown border-end action-bar-dropdown" id="canvasViewerContent_ActionBar_CellDropdown" >
        <button class="dropdown-toggle btn canvas-viewer-control-item" type="button" id="canvasViewerContent_ActionBar_CellDropdown_Toggle" >
          cell
        </button>
        <ul class="dropdown-menu action-bar-dropdown-list" id="canvasViewerContent_ActionBar_CellDropdown_List" >
          <li id="canvasViewerContent_ActionBar_CellDropdown_ListItem_AddToggle" >
            <a class="dropdown-item" id="canvasViewerContent_ActionBar_CellDropdown_ListItem_AddToggle_Link" >add</a >
          </li>
          <li id="canvasViewerContent_ActionBar_CellDropdown_ListItem_Divider" >
            <hr class="dropdown-divider" id="canvasViewerContent_ActionBar_CellDropdown_ListItem_DividerHr" />
          </li>
          <li id="canvasViewerContent_ActionBar_CellDropdown_ListItem_AddOptions" >
            <div class="dropdown-item dropend" id="canvasViewerContent_ActionBar_CellDropdown_ListItem_AddOptions_Dropend" >
              <a class="dropdown-item dropdown-toggle" type="button" data-bs-toggle="dropdown" id="canvasViewerContent_ActionBar_CellDropdown_ListItem_AddOptions_Dropend_Toggle" >
                add from database model
              </a>
              <ul class="dropdown-menu" id="canvasViewerContent_ActionBar_CellDropdown_ListItem_AddOptions_Dropend_List" >
                <li *ngFor="let dbModelName of availableDbModelNames" id="canvasViewerContent_ActionBar_CellDropdown_ListItem_AddOptions_Dropend_ListItem_{{ dbModelName.databaseName }}{{ dbModelName.schemaName }}" >
                  <a class="dropdown-item" (click)="addCellsFromDbModel(dbModelName)" id="canvasViewerContent_ActionBar_CellDropdown_ListItem_AddOptions_Dropend_ListItem_{{ dbModelName.databaseName }}{{ dbModelName.schemaName }}_Link" >
                    {{ dbModelName.databaseName }}.{{ dbModelName.schemaName }}
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-between canvas-viewer-control-item ps-3 pe-3" id="canvasViewerContent_ActionBar_CanvasZoom" >
        <label class="form-label m-0" for="canvasViewerContent_ActionBar_CanvasZoom_Input" id="canvasViewerContent_ActionBar_CanvasZoom_Label" >canvas zoom</label >
        <span class="pe-1" id="canvasViewerContent_ActionBar_CanvasZoom_LabelInputSeparator" >:</span >
        <input class="form-range" id="canvasViewerContent_ActionBar_CanvasZoom_Input"
              type="range" step="1" min="1" max="{{ zoomSettingMaxValue }}" value="{{ zoomSettingInitialValue }}"
              [(ngModel)]="zoomSetting" (ngModelChange)="updateCanvasZoom()" />
      </div>
      <div class="p-2" id="canvasViewerContent_ActionBar_SaveAllChanges">
        <button class="btn btn-sm main-action-button" (click)="saveAllChanges()" type="button" id="canvasViewerContent_ActionBar_SaveAllChangesButton" >
          save all changes
        </button>
      </div>
      <div class="p-2" id="canvasViewerContent_ActionBar_UndoAllChanges">
        <button class="btn btn-sm main-cancel-button" (click)="undoAllChanges()" type="button" id="canvasViewerContent_ActionBar_UndoAllChangesButton" >
          undo all changes
        </button>
      </div>
    </nav>
  </div>
</div>
