<div class="code-project-preview-grid h-100 m-0" id="codeModelSourceProjectPreview">
  <div *ngIf="projectForPreview" class="border-end file-list-panel pt-3 ps-0 pe-0" id="codeModelSourceProjectPreview_FileListPanelContainer">
    <explorer-panel-list [entry]="projectForPreview.rootTreeNode.explorerPanelListEntry" [listLevel]="0" [baseHtmlId]="projectFileListBaseHtmlId" id="codeModelSourceProjectPreview_FileListPanel_FileList_Entry_{{projectForPreview.rootTreeNode.id}}"
                          (entryClicked)="handleClickedEntry($event)"></explorer-panel-list>
  </div>
  <div class="code-project-preview-gutter-col code-project-preview-gutter-col-1"></div>
  <div *ngIf="selectedFileTextContents" class="ps-0 pe-0" style="overflow: auto;" id="codeModelSourceProjectPreview_CodeEditorPanel">
    <ngx-monaco-editor class="h-100"  [options]="codeEditorOptions" [(ngModel)]="selectedFileTextContents" id="codeModelSourceProjectPreview_CodeEditorPanel_CodeEditor"></ngx-monaco-editor>
  </div>
</div>
