<div class="sidebar-menu-form ps-2 pe-2 pb-4" id="{{ this.baseHtmlId }}_Container">
  <menu-select *ngIf="showSelect" [baseHtmlId]="menuSelectBaseHtmlId" [availableKeys]="getAvailableSourceConfigKeys()" id="{{ baseHtmlId }}_MenuSelect"
            (keyWasSelected)="loadSourceConfigForEdit($event)" (addNewButtonClicked)="loadNewSourceConfigForEdit()">
  </menu-select>
  <db-model-source-config-edit-form *ngIf="!showSelect" [sourceConfigForEditObservable]="sourceConfigForEdit$.asObservable()" id="{{ baseHtmlId }}_EditForm"
                            (sourceConfigWasUpdated)="resetSourceConfigEdit()" (resetEditButtonClicked)="resetSourceConfigEdit()" >
  </db-model-source-config-edit-form>
</div>
