<div id="codeFileExplorer">
  <div class="border-bottom p-2" id="codeFileExplorer_Title">
    <span class="h6" id="codeFileExplorer_Title_Name">
      Code Explorer
    </span>
    <select class="form-select form-select-sm" [(ngModel)]="selectedProjectName" (ngModelChange)="selectProject()" type="text" id="codeFileExplorer_Title_Select" >
      <option *ngFor="let projectName of projectNames" [ngValue]="projectName" id="codeFileExplorer_Title_Select_Option" >
        {{ projectName }}
      </option>
    </select>
  </div>
  <div *ngIf="selectedProject" class="pt-1" id="codeFileExplorer_Entries">
    <code-file-explorer-entry [fileEntry]="selectedProject.rootFileNode" [entryListLevel]="0" id="codeFileExplorer_Entries_Entry_{{selectedProject.rootFileNode.id}}"
                              (entryClicked)="handleClickedEntry($event)"></code-file-explorer-entry>
  </div>
</div>
