<div class="ps-1 pe-1 pt-3 pb-2" id="dbModelEditForm_Title">
  <h5 class="edit-form-menu-form-title h5" id="dbModelEditForm_Title_Name" >
    {{ isDetailNew(detailForEdit) ? "add new" : "edit" }}
  </h5>
</div>
<form class="m-2" [formGroup]="detailEditForm" (ngSubmit)="saveDetail()" id="dbModelEditForm_Form" >
  <div *ngIf="isDetailNew(detailForEdit)" class="mb-3" id="dbModelEditForm_Form_SourceConfigSection" >
    <label class="form-label edit-form-menu-label-primary" for="dbModelEditForm_Form_SourceConfigSection_Select" id="dbModelEditForm_Form_SourceConfigSection_Label" >db model source config</label >
    <select class="form-control form-select form-select-sm" formControlName="sourceConfigId" id="dbModelEditForm_Form_SourceConfigSection_Select" >
      <option *ngFor="let availableSourceConfig of availableSourceConfigs" [value]="availableSourceConfig.id" id="dbModelEditForm_Form_SourceConfigSection_Select_Option_{{ availableSourceConfig.id }}" >
        {{ availableSourceConfig.id }}
      </option>
    </select>
  </div>
  <div class="mb-3" id="dbModelEditForm_Form_DatabaseNameSection">
    <label class="form-label edit-form-menu-label-primary" for="dbModelEditForm_Form_DatabaseNameSection_Input" id="dbModelEditForm_Form_DatabaseNameSection_Label" >database name</label >
    <input class="form-control form-control-sm" formControlName="databaseName" type="text" id="dbModelEditForm_Form_DatabaseNameSection_Input" />
  </div>
  <div class="mb-3" id="dbModelEditForm_Form_SchemaNameSection">
    <label class="form-label edit-form-menu-label-primary" for="dbModelEditForm_Form_SchemaNameSection_Input" id="dbModelEditForm_Form_SchemaNameSection_Label" >schema name</label >
    <input class="form-control form-control-sm" formControlName="schemaName" type="text" id="dbModelEditForm_Form_SchemaNameSection_Input" />
  </div>
  <div *ngIf="!isDetailNew(detailForEdit)" class="mb-3" id="dbModelEditForm_Form_DescriptionSection" >
    <label class="form-label edit-form-menu-label-primary" for="dbModelEditForm_Form_DescriptionSection_Input" id="dbModelEditForm_Form_DescriptionSection_Label" >description</label >
    <input class="form-control form-control-sm" formControlName="description" type="text" id="dbModelEditForm_Form_DescriptionSection_Input" />
  </div>
  <div *ngIf="isDetailNew(detailForEdit)" class="mb-3" id="dbModelEditForm_Form_CategoryMatcherSection" >
    <div class="mb-3" id="dbModelEditForm_Form_CategoryMatcherSection_TableCategoryMatcher" >
      <sql-table-category-matcher-editor [tableCategoryMatchers]="tableCategoryMatchersForNewModel" id="dbModelEditForm_Form_CategoryMatcherSection_TableCategoryMatcher_Editor"></sql-table-category-matcher-editor>
    </div>
    <div id="dbModelEditForm_Form_CategoryMatcherSection_ColumnCategoryMatcher" >
      <sql-column-category-matcher-editor [columnCategoryMatchers]="tableCategoryMatchersForNewModel" id="dbModelEditForm_Form_CategoryMatcherSection_ColumnCategoryMatcher_Editor"></sql-column-category-matcher-editor>
    </div>
  </div>
  <div *ngIf="!isDetailNew(detailForEdit)" class="mb-3" id="dbModelEditForm_Form_TablesSection" >
    <sql-table-detail-editor [databaseForEditObservable]="detailForEdit$.asObservable()" id="dbModelEditForm_Form_TablesSection_Editor"
                        (tableModelWasUpdated)="handleSuccessfulSave()" ></sql-table-detail-editor>
  </div>
  <div class="d-flex justify-content-end ps-1 pe-1 pt-3 pb-1" id="dbModelEditForm_Form_Controls" >
    <button class="btn btn-sm save-button m-2" type="submit" id="dbModelEditForm_Form_Controls_SaveButton" >
      save
    </button>
    <button class="btn btn-sm cancel-button m-2" type="button" (click)="cancelButtonClicked()" id="dbModelEditForm_Form_Controls_CancelButton" >
      cancel
    </button>
  </div>
</form>
