<div class="border-bottom" id="dbModelSourceEditor">
  <nav class="menu-tab-group-shadow" id="dbModelSourceEditor_TabNavigation">
    <div class="nav nav-tabs" role="tablist" id="dbModelSourceEditor_TabNavigation_TabList" >
      <button class="nav-link active menu-tab" id="dbModelSourceEditor_TabNavigation_TabList_UrlTab_Toggle"
              data-bs-toggle="tab" data-bs-target="#dbModelSourceEditor_TabContent_UrlTab_Content"
              type="button" role="tab" >
        url
      </button>
      <button class="nav-link menu-tab" id="dbModelSourceEditor_TabNavigation_TabList_ConfigTab_Toggle"
              data-bs-toggle="tab" data-bs-target="#dbModelSourceEditor_TabContent_ConfigTab_Content"
              type="button" role="tab" >
        config
      </button>
    </div>
  </nav>
  <div class="tab-content sidebar-menu-form" id="dbModelSourceEditor_TabContent">
    <div class="tab-pane fade show active" role="tabpanel" id="dbModelSourceEditor_TabContent_UrlTab_Content">
      <db-model-source-url-editor></db-model-source-url-editor>
    </div>
    <div class="tab-pane fade" role="tabpanel" id="dbModelSourceEditor_TabContent_ConfigTab_Content">
      <db-model-source-config-editor></db-model-source-config-editor>
    </div>
  </div>
</div>
