<div class="row m-0" id="canvasViewer">
  <!-- <div class="d-flex justify-content-center border-end border-bottom p-0 collapse show" style="flex: 0 0 auto; width:2.58333%;" id="">
        <button class="navbar-toggler" (click)="onToggleCanvasSidebar()" type="button" id=""
                data-bs-toggle="collapse" data-bs-target="#canvasSidebar">
            <i class="bi bi-arrow-right-circle-fill p-1 h3" id=""></i>
        </button>
    </div> -->

  <div class="col-lg-3 border-start border-end border-bottom p-0 collapse show" id="canvasViewerSidebar" >
    <canvas-menu [menuContentIsClosed]="canvasMenuIsClosed" (menuToggleEvent)="canvasMenuToggleClicked()" ></canvas-menu>
    <model-menu [menuContentIsClosed]="modelMenuIsClosed" (menuToggleEvent)="modelMenuToggleClicked()" ></model-menu>
  </div>

  <div class="border-start border-end border-bottom p-0" [ngClass]="canvasContentClass" id="canvasViewerContent" >
    <canvas-viewer-header
      [canvasTitle]="getCanvasTitle()"
      [sidebarOpenInitialValue]="defaultSidebarOpen"
      [zoomSettingInitialValue]="defaultZoomSetting"
      [zoomSettingMaxValue]="maxZoomSetting"
      [availableCanvasNames]="getAvailableCanvasNames()"
      [availableDbModelNames]="availableDbModelNames"
      (zoomSettingEvent)="updateCanvasZoom($event)"
      (sidebarToggleEvent)="onToggleCanvasSidebar()"
      (loadSelectedCanvasEvent)="loadSelectedCanvas($event)"
      (addCellsFromDbModelEvent)="addCellsFromDbModel($event)"
      (saveAllChangesButtonClickEvent)="saveAllChanges()"
      (undoAllChangesButtonClickEvent)="undoAllChanges()" ></canvas-viewer-header>
    <div id="canvasViewerContent_Canvas">
      <div [ngStyle]="{ transform: jointJsPaperTransformScale }" id="canvasViewerContent_Canvas_JointJs_Paper" ></div>
    </div>
  </div>
  <db-column-edit-modal id="canvasViewer_ColumnEditModal" ></db-column-edit-modal>
</div>
