<div class="m-0" id="databaseModelExplorer">
  <database-model-explorer-header (urlExplorerToggleEvent)="toggleUrlExplorer()" (configExplorerToggleEvent)="toggleConfigExplorer()" id="databaseModelExplorer_Header"
                                  (databaseExplorerToggleEvent)="toggleDatabaseExplorer()">
  </database-model-explorer-header>
  <div *ngIf="!urlExplorerIsClosed" class="border-end sub-explorer-panel ps-0 pe-0" id="databaseModelExplorer_UrlExplorerPanel">
    <db-model-source-url-editor></db-model-source-url-editor>
  </div>
  <div *ngIf="!configExplorerIsClosed" class="border-end sub-explorer-panel ps-0 pe-0" id="databaseModelExplorer_ConfigExplorerPanel">
    <db-model-source-config-editor></db-model-source-config-editor>
  </div>
  <div *ngIf="!databaseExplorerIsClosed" class="border-end sub-explorer-panel ps-0 pe-0" id="databaseModelExplorer_DatabaseExplorerPanel">
    <db-model-editor></db-model-editor>
  </div>
</div>
