<button class="navbar-toggler p-1 w-100" type="button" (click)="handleClick()" id="{{baseHtmlId}}_SelectorButton">
  <div class="d-flex" id="{{baseHtmlId}}_SelectorButton_Display">
    <span *ngIf="isNotTopLevelNode()" class="explorer-entry-list-spacing" id="{{baseHtmlId}}_SelectorButton_Display_EntrySpacing">
      {{ entryListSpacing }}
    </span>
    <div *ngIf="doesEntryHaveChildren()" id="{{baseHtmlId}}_SelectorButton_Display_ToggleIconContainer">
      <i [ngClass]="additionalIconClasses" class="bi ps-2 pe-2" id="{{baseHtmlId}}_SelectorButton_Display_ToggleIcon"></i>
    </div>
    <div *ngIf="!doesEntryHaveChildren()" id="{{baseHtmlId}}_SelectorButton_Display_ExtraListSpacingContainer">
      <span class="explorer-entry-list-spacing" id="{{baseHtmlId}}_SelectorButton_Display_ExtraListSpacing">
        {{ nonDirectoryExtraListSpacing }}
      </span>
    </div>
    <div id="{{baseHtmlId}}_SelectorButton_Display_FileIconContainer">
      <img class="pe-2" src="{{getIconPathForFile()}}" id="{{baseHtmlId}}_SelectorButton_Display_FileIcon"/>
    </div>
    <span id="{{baseHtmlId}}_SelectorButton_Display_EntryName">
      {{ fileEntry.name }}
    </span>
  </div>
</button>
<div *ngIf="showChildEntries && childEntries" id="{{baseHtmlId}}_ChildEntryListContainer">
  <div *ngFor="let childEntry of childEntries" id="{{baseHtmlId}}_ChildEntryList">
    <code-model-source-file-explorer-entry [fileEntry]="childEntry" [entryListLevel]="(entryListLevel + 1)" id="{{baseHtmlId}}_ChildEntryList_Entry_{{childEntry.id}}"
                              (entryClicked)="childEntryClicked($event)"></code-model-source-file-explorer-entry>
  </div>
</div>
