#appRoot_Main {
  height: 88vh;
  overflow: auto;
}

#appRoot_Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.active {
  color: var(--app-title-name-end-color) !important;
}

.nav-link {
  color: var(--app-extra-light-color) !important;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--app-title-name-end-color) !important;
}

#appRoot_BannerBar_Toggle {
  color: var(--app-title-nav-toggle-color) !important;
}

#appRoot_BannerBar_Top_Title_Logo {
  height: 46px;
  width: 19px;
}

#appRoot_BannerBar_Top_Title_Start {
  color: var(--app-title-name-start-color);
}

#appRoot_BannerBar_Top_Title_Separator {
  color: var(--app-title-name-separator-color);
}

#appRoot_BannerBar_Top_Title_End {
  color: var(--app-title-name-end-color);
}

#bannerBarToggleIcon_DarkMode {
  color: var(--app-main-color);
}
