<div id="columnEditModalBackground">
  <div id="columnEditModalBody">
    <div class="p-1" id="columnEditModalBody_Title">
      <h4 id="columnEditModalBody_Title_TitleName">edit column</h4>
    </div>
    <div *ngIf="columnModelToEdit" id="columnEditModalBody_Content">
      <form class="m-2" [formGroup]="columnEditModalBodyForm" (ngSubmit)="saveColumnChanges()" id="columnEditModalBody_Form" >
        <div class="mb-3" id="columnEditModalBody_FormSection_ColumnName">
          <label for="columnEditModalBody_FormSection_ColumnName_Input" id="columnEditModalBody_ForSection_ColumnName_Label" >Name</label >
          <input class="form-control" type="text" formControlName="columnName" placeholder="Column Name" id="columnEditModalBody_FormSection_ColumnName_Input" />
        </div>
        <div class="mb-3" id="columnEditModalBody_FormSection_ColumnCategory">
          <label for="columnEditModalBody_FormSection_ColumnCategory_Select" id="columnEditModalBody_FormSection_ColumnCategory_Label" >Category</label >
          <select class="form-control form-select" formControlName="columnCategory" id="columnEditModalBody_FormSection_ColumnCategory_Select" >
            <option *ngFor="let availableColumnCategory of availableColumnCategories" [ngValue]="availableColumnCategory" id="columnEditModalBody_FormInput_ColumnCategory_Option_{{ availableColumnCategory.name }}" >
              {{ availableColumnCategory.name }}
            </option>
          </select>
        </div>
        <div class="ps-1 pe-1 pt-3 pb-1" id="columnEditModalBody_FormSection_Controls" >
          <button class="form-control btn btn-sm btn-outline-info" type="submit" id="columnEditModalBody_FormInput_SubmitButton" >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
