<div class="row m-0" id="codeModelSourceProject_Explorer">
  <div class="col-lg-2 border-end ps-0 pe-0" id="codeModelSourceProject_Explorer_FileListBar">
    <div class="d-flex justify-content-between border-bottom p-2 ps-3" id="codeModelSourceProject_Explorer_FileListBar_Title">
      <span class="d-flex align-items-center h6" id="codeModelSourceProject_Explorer_FileListBar_Title_Name">
        source project
      </span>
      <div id="codeModelSourceProject_Explorer_FileListBar_Title_MiddleFillerDiv"></div>
      <div class="dropdown" id="codeModelSourceProject_Explorer_FileListBar_Title_ProjectSelect">
        <button class="btn btn-secondary navbar-toggler" type="button" data-bs-toggle="dropdown" id="codeModelSourceProject_Explorer_FileListBar_Title_ProjectSelect_ToggleButton">
          <i class="bi bi-list h4 pe-1 pb-1 m-0" id="codeModelSourceProject_Explorer_FileListBar_Title_ProjectSelect_ToggleButton_Icon"></i>
        </button>
        <ul class="dropdown-menu" id="codeModelSourceProject_Explorer_FileListBar_Title_ProjectSelect_List">
          <li *ngFor="let projectName of projectNames" id="codeModelSourceProject_Explorer_FileListBar_Title_ProjectSelect_List_ListItem_{{ projectName }}">
            <a class="dropdown-item" (click)="selectProject(projectName)" id="codeModelSourceProject_Explorer_FileListBar_Title_ProjectSelect_List_ListItem_{{ projectName }}_Link">{{ projectName }}</a>
          </li>
          <li id="codeModelSourceProject_Explorer_FileListBar_Title_ProjectSelect_List_ListItem_Divider" >
            <hr class="dropdown-divider" id="codeModelSourceProject_Explorer_FileListBar_Title_ProjectSelect_List_ListItem_Divider_Hr" />
          </li>
          <li id="codeModelSourceProject_Explorer_FileListBar_Title_ProjectSelect_List_ListItem_CreateNewProject" >
            <a class="dropdown-item" (click)="openCreateProjectModal()" id="codeModelSourceProject_Explorer_FileListBar_Title_ProjectSelect_List_ListItem_CreateNewProject_Link">create new</a>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="selectedProject" class="pt-1" id="codeModelSourceProject_Explorer_FileListBar_FileList">
      <code-model-source-file-list-entry [fileEntry]="selectedProject.rootTreeNode" [entryListLevel]="0" id="codeModelSourceProject_Explorer_FileListBar_FileList_Entry_{{selectedProject.rootTreeNode.id}}"
                                         (entryClicked)="handleClickedEntry($event)"></code-model-source-file-list-entry>
    </div>
  </div>
  <div *ngIf="selectedFileTextContents" class="col-lg-10 ps-0 pe-0" id="codeModelSourceProject_Explorer_CodeEditorPanel">
    <ngx-monaco-editor [options]="codeEditorOptions" [(ngModel)]="selectedFileTextContents" id="codeModelSourceProject_Explorer_CodeEditor"></ngx-monaco-editor>
  </div>
</div>
<code-model-source-project-edit-modal [baseHtmlId]="projectEditModalBaseHtmlId" id="{{projectEditModalBaseHtmlId}}"></code-model-source-project-edit-modal>
