#codeModelSourceProject_Explorer {
  height: 100%;
}

#codeModelSourceProject_Explorer_CodeEditorPanel {
  height: 100%;
  overflow: hidden;
}

#codeModelSourceProject_Explorer_CodeEditorPanel:hover {
  overflow: scroll;
}

#codeModelSourceProject_Explorer_CodeEditor {
  height: 100%;
}


