<div class="ps-1 pe-1" id="{{ baseHtmlId }}_MenuSelect" >
  <div class="ps-1 pe-1 pt-3 pb-3" id="{{ baseHtmlId }}_MenuSelect_Title" >
    <h5 class="sidebar-menu-form-title h5" id="{{ baseHtmlId }}_MenuSelect_Title_Name" >
      select
    </h5>
  </div>
  <div class="input-group input-group-sm mb-3" id="{{ baseHtmlId }}_MenuSelect_InputGroup" >
    <button class="btn main-add-new-button" type="button" title="Add New" (click)="addNewObject()" id="{{ baseHtmlId }}_MenuSelect_InputGroup_LoadNew_Button" >
      <i class="bi bi-plus-lg h5" id="{{ baseHtmlId }}_MenuSelect_InputGroup_LoadNew_Button_Icon" ></i>
    </button>
    <select class="form-select" [(ngModel)]="selectedKey" (ngModelChange)="selectKey()" type="text" id="{{ baseHtmlId }}_MenuSelect_InputGroup_LoadExisting_Select" >
      <option *ngFor="let availableKey of availableKeys" [ngValue]="availableKey" id="{{ baseHtmlId }}_MenuSelect_InputGroup_LoadExisting_Select_Option_{{ availableKey }}" >
        {{ availableKey }}
      </option>
    </select>
  </div>
</div>
