#dbModelSourceUrlEditForm_Form_FormSection_Prefix_Label_Scheme {
  width: 33.5%;
}

#dbModelSourceUrlEditForm_Form_FormSection_Prefix_Input_Scheme_Select {
  width:31%;
}

#dbModelSourceUrlEditForm_Form_FormSection_Prefix_Input_Provider_Select {
  width:60%;
}

#dbModelSourceUrlEditForm_Form_FormSection_Prefix_Label_Separator {
  width:5.4%;
}

#dbModelSourceUrlEditForm_Form_FormSection_Prefix_Label_Provider {
  width:61.1%;
}

#dbModelSourceUrlEditForm_Form_FormSection_Postfix_Label_Hostname {
  width:75%;
}

#dbModelSourceUrlEditForm_Form_FormSection_Postfix_Input_Hostname {
  width:75%;
}

#dbModelSourceUrlEditForm_Form_FormSection_Postfix_Label_Separator {
  width:8%;
}

#dbModelSourceUrlEditForm_Form_FormSection_Postfix_Label_Port {
  width:15%;
}

#dbModelSourceUrlEditForm_Form_FormSection_Postfix_Input_Port {
  width:15%;
}

#dbModelSourceUrlEditForm_Form_PreviewUrl_InputGroup_Scheme {
  font-size: .8rem;
  overflow: hidden;
}
