#dbModelSourceUrlEditForm_Form_FormSection_Prefix_Label_Scheme {
  display: inline-block;
  width:33.5%;
  background-color: var(--sidebar-menu-title-tertiary-color) !important;
}

#dbModelSourceUrlEditForm_Form_FormSection_Prefix_Input_Scheme_Select {
  width:31%;
}

#dbModelSourceUrlEditForm_Form_FormSection_Prefix_Input_Provider_Select {
  width:60%;
}

#dbModelSourceUrlEditForm_Form_FormSection_Prefix_Label_Separator {
  display: inline-block;
  width:5.4%;
  background-color: var(--sidebar-menu-title-tertiary-color) !important;
}


#dbModelSourceUrlEditForm_Form_FormSection_Prefix_Label_Provider {
  display: inline-block;
  width:61.1%;
  background-color: var(--sidebar-menu-title-tertiary-color) !important;
}

#dbModelSourceUrlEditForm_Form_FormSection_Postfix_Label_Hostname {
  display: inline-block;
  width:75%;
  background-color: var(--sidebar-menu-title-tertiary-color) !important;
}

#dbModelSourceUrlEditForm_Form_FormSection_Postfix_Input_Hostname {
  width:75%;
}

#dbModelSourceUrlEditForm_Form_FormSection_Postfix_Label_Separator {
  display: inline-block;
  width:8%;
  background-color: var(--sidebar-menu-title-tertiary-color) !important;
}


#dbModelSourceUrlEditForm_Form_FormSection_Postfix_Label_Port {
  display: inline-block;
  width:15%;
  background-color: var(--sidebar-menu-title-tertiary-color) !important;
}

#dbModelSourceUrlEditForm_Form_FormSection_Postfix_Input_Port {
  width:15%;
}

#dbModelSourceUrlEditForm_Form_PreviewUrl_InputGroup_Scheme {
  font-size: .8rem;
  overflow: hidden;
}
