<div class="border-bottom" id="codeModelSourceEditor">
  <nav class="menu-tab-group-shadow" id="codeModelSourceEditor_TabNavigation">
    <div class="nav nav-tabs" role="tablist" id="codeModelSourceEditor_TabNavigation_TabList" >
      <button class="nav-link active menu-tab" id="codeModelSourceEditor_TabNavigation_TabList_FileTab_Toggle"
              data-bs-toggle="tab" data-bs-target="#codeModelSourceEditor_TabContent_FileTab_Content"
              type="button" role="tab" >
        file
      </button>
      <button class="nav-link menu-tab" id="codeModelSourceEditor_TabNavigation_TabList_ProjectTab_Toggle"
              data-bs-toggle="tab" data-bs-target="#codeModelSourceEditor_TabContent_ProjectTab_Content"
              type="button" role="tab" >
        project
      </button>
    </div>
  </nav>
  <div class="tab-content sidebar-menu-form" id="codeModelSourceEditor_TabContent">
    <div class="tab-pane fade show active" role="tabpanel" id="codeModelSourceEditor_TabContent_FileTab_Content">

    </div>
    <div class="tab-pane fade" role="tabpanel" id="codeModelSourceEditor_TabContent_ProjectTab_Content">
      <code-model-source-project-editor></code-model-source-project-editor>
    </div>
  </div>
</div>
