[data-bs-theme="dark"] {
  --app-main-color: #f7fa99;
  --app-accent-color-dark: #75705c;
  --app-accent-color-light: #f9fadd;
  --app-accent-color-extra-light: #f1ebdb;

  --header-primary-bg-color: var(--bs-tertiary-bg);
  --header-border-color: var(--bs-tertiary-color);
  --header-font-color: var(--bs-light-text-emphasis);

  // --edit-form-menu-title-primary-color: #f1ebdb;
  --edit-form-menu-title-primary-color: var(--app-accent-color-light);
  --edit-form-menu-title-secondary-color: #728695;
  --edit-form-menu-title-tertiary-color: #4a5257;
  --edit-form-menu-title-secondary-color-highlight: #9ab3c7;
  --edit-form-menu-label-primary-color: #728695;
  --edit-form-menu-label-secondary-color: #d4f5f9;

  --save-button-color: #728695;
  --save-button-button-border-color: #728695;
  // --save-button-button-hover-color: #f1ebdb;
  --save-button-button-hover-color: var(--app-accent-color-light);
  --save-button-button-hover-bg-color: #728695;

  --cancel-button-color: #884b42;
  --cancel-button-border-color: #884b42;
  // --cancel-button-hover-color: #f1ebdb;
  --cancel-button-hover-color: var(--app-accent-color-light);
  --cancel-button-hover-bg-color: #884b42;

  --add-new-button: #5f9261;
  --add-new-button-border-color: #5f9261;
  // --add-new-button-hover-color: #f1ebdb;
  --add-new-button-hover-color: var(--app-accent-color-light);
  --add-new-button-hover-bg-color: #5f9261;

  --edit-button: #5f7c92;
  --edit-button-border-color: #5f7c92;
  // --edit-button-hover-color: #f1ebdb;
  --edit-button-hover-color: var(--app-accent-color-light);
  --edit-button-hover-bg-color: #5f7c92;

  // --explorer-control-label-color: #f1ebdb;
  --explorer-control-label-color: var(--app-accent-color-light);
  --explorer-control-item-label-color: #8ca5b8;
}

[data-bs-theme="light"] {
  --header-primary-bg-color: #7fa1c3;
  --header-border-color: #325155;
  --header-font-color: var(--bs-light-text-emphasis);

  --edit-form-menu-title-primary-color: #325155;
  --edit-form-menu-title-secondary-color: #325155;
  --edit-form-menu-label-primary-color: #325155;
  --edit-form-menu-label-secondary-color: #325155;

  --save-button-color: #325155;
  --save-button-border-color: #325155;
  --save-button-hover-color: #325155;
  --save-button-hover-bg-color: #325155;

  --add-new-button: #728695;
  --add-new-button-border-color: #728695;
  --add-new-button-hover-color: #f1ebdb;
  --add-new-button-hover-bg-color: #728695;

  --explorer-control-label-color: #8ca5b8;
  --explorer-control-item-label-color: #8ca5b8;
}

input[type="range"] {
  appearance: auto;
}

header {
  top: 0;
  z-index: 99;
  position: sticky;
  background-color: var(--header-primary-bg-color) !important;
  border-bottom: 1px solid var(--header-border-color) !important;
}

footer {
  z-index: 99;
  position: sticky;
  text-align: center;
  width: 100%;
  color: var(--app-accent-color-light) !important;
  background-color: var(--bs-tertiary-bg) !important;
}

.small-icon {
  font-size: .75rem;
}

.save-button {
  font-weight: bold;
  color: var(--save-button-color) !important;
  border: var(--bs-btn-border-width) solid
          var(--save-button-border-color) !important;
}

.save-button:hover {
  font-weight: bolder;
  color: var(--save-button-hover-color) !important;
  background-color: var(--save-button-hover-bg-color) !important;
}

.cancel-button {
  font-weight: bold;
  color: var(--cancel-button-color) !important;
  border: var(--bs-btn-border-width) solid
          var(--cancel-button-border-color) !important;
}

.cancel-button:hover {
  font-weight: bolder;
  color: var(--cancel-button-hover-color) !important;
  background-color: var(--cancel-button-hover-bg-color) !important;
}

.add-new-button {
  font-weight: bold;
  color: var(--add-new-button-color) !important;
  border: var(--bs-btn-border-width) solid
          var(--add-new-button-border-color) !important;
}

.add-new-button:hover {
  font-weight: bolder;
  color: var(--add-new-button-hover-color) !important;
  background-color: var(--add-new-button-hover-bg-color) !important;
}

.edit-button {
  font-weight: bold;
  color: var(--edit-button-color) !important;
  border: var(--bs-btn-border-width) solid
          var(--edit-button-border-color) !important;
}

.edit-button:hover {
  font-weight: bolder;
  color: var(--edit-button-hover-color) !important;
  background-color: var(--edit-button-hover-bg-color) !important;
}

.menu-title {
  z-index: 65;
  position: relative;
}

.menu-title-shadow {
  box-shadow: 0 7px 10px -3px black;
}

.menu-tab {
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
  border-top: none !important;
  border-left: none !important;
  color: var(--edit-form-menu-label-primary-color) !important;
}

.menu-tab.active {
  color: var(--app-main-color) !important;
  box-shadow: inset 0 -8px 10px -10px black;
  border-bottom: thin double var(--app-main-color) !important;
  background-color: var(--edit-form-menu-title-tertiary-color) !important;
}

.menu-tab-end {
  border-right: none !important;
}

.menu-tab-group-shadow {
  box-shadow: inset 0 -8px 10px -8px black;
}

.menu-preview-panel {
  background-color: var(--edit-form-menu-title-tertiary-color) !important;
}

.menu-content {
  width: 95% !important;
  position: relative;
  overflow: scroll;
}

.menu-sidebar {
  position: relative;
  width: 5% !important;
  // background-color: var(--header-primary-bg-color) !important;
  // background-color: #2b3035 !important;
  background-color: #25282a !important;
}

.menu-sidebar-title {
  height: 1.75rem;
  overflow: hidden;
  // background-color: var(--edit-form-menu-title-tertiary-color) !important;
  background-color: #585e63 !important;
}

.menu-sidebar-title-name {
  font-weight: bolder;
  color: var(--app-main-color) !important;
  // color: var(--explorer-control-label-color) !important;
}

.menu-sidebar-option-container {
  height: 75px;
  overflow: hidden;
}

.menu-sidebar-option-label {
  display: grid;
}

.menu-sidebar-button-selected {
  border-color: var(--app-main-color) !important;
}

.edit-form-input-group-addon {
  color: var(--edit-form-menu-label-primary-color) !important;
}

.edit-form-menu-form-title {
  color: var(--edit-form-menu-title-secondary-color) !important;
}

.edit-form-menu-form {
  background-color: var(--edit-form-menu-title-tertiary-color) !important;
}

.edit-form-menu-content {
  background-color: var(--bs-light-bg-subtle) !important;
}

.edit-form-menu-title-primary {
  font-weight: bold;
  color: var(--edit-form-menu-title-primary-color) !important;
}

.edit-form-menu-title-secondary {
  font-size: large;
  font-weight: bold;
  color: var(--edit-form-menu-title-secondary-color) !important;
}

.edit-form-menu-label-primary {
  background-color: var(--header-primary-bg-color) !important;
  color: var(--edit-form-menu-label-primary-color) !important;
}

.edit-form-menu-label-activated-primary {
  color: var(--app-main-color) !important;
}

.form-label {
  background-color: var(--header-primary-bg-color) !important;
}

.form-label-span {
  display: inline-block;
  border: none !important;
  color: var(--edit-form-menu-label-primary-color) !important;
}

.edit-select-title-name {
  color: var(--edit-form-menu-title-secondary-color) !important;
  font-size: small;
}

.edit-select-option {
  color: var(--explorer-control-label-color) !important;
  background-color: var(--header-primary-bg-color) !important;
}

.simple-edit-select-label {
  color: var(--edit-form-menu-label-primary-color) !important;
}

.editor-title {
  z-index: 65;
  position: relative;
  box-shadow: 0 7px 10px -3px black;
}

.editor-header-title {
  // color: var(--app-main-color) !important;
  color: var(--explorer-control-label-color) !important;
  // background-color: var(--edit-form-menu-title-tertiary-color) !important;
}

.editor-sub-header {
  // height: 8%;
  font-size: smaller;
  background-color: var(--header-primary-bg-color);
}

.explorer-header {
  border-bottom: 1.5px var(--bs-border-style) #5e676f !important;
}

.explorer-title-name {
  color: var(--app-main-color) !important;
  // color: var(--explorer-control-label-color) !important;
  font-size: x-large;
  font-weight: bold;
}

.explorer-header-button {
  font-size: small;
  color: var(--app-main-color) !important;
  // color: var(--explorer-control-label-color) !important;
}

.explorer-dropdown:hover > .explorer-dropdown-list {
  display: block;
}

.explorer-dropdown-toggle {
  font-size: small;
  color: var(--edit-form-menu-title-secondary-color) !important;
}

.explorer-header-form-select {
  // color: var(--explorer-control-label-color) !important;
  background-color: var(--header-primary-bg-color) !important;
}

.explorer-header-label-text {
  display: inline-block;
  border: none !important;
  color: var(--edit-form-menu-label-primary-color) !important;
}

.nav-option-group-toggle {
  font-size: small;
  color: var(--edit-form-menu-title-secondary-color) !important;
}

.nav-option-group-toggle.toggle-activated {
  color: var(--edit-form-menu-title-secondary-color-highlight) !important;
}

.nav-option-item-button {
  font-size: small;
  color: var(--explorer-control-label-color) !important;
}

.nav-option-item-button.selected {
  color: var(--app-main-color) !important;
}

.nav-option-item-button-container {
  box-shadow:
    inset 3px 0px 10px -4px var(--edit-form-menu-title-secondary-color),
    inset -3px 0px 5px -4px var(--edit-form-menu-title-secondary-color);
  background-color: var(--header-primary-bg-color) !important;
  margin-right: -8px;
}

.file-list-panel {
  height: 100%;
  overflow: hidden;
  background-color: var(--header-primary-bg-color);
}

.file-list-panel:hover {
  overflow: scroll;
}

.modal-open {
  /* Hide the main scrollbar when a Modal is open */
  overflow: hidden;
}

/***************************************************************************************************************************************/
/* Defining these here because for some reason the scss for the component containing these is not honored within the JointJS framework */
/* TODO: Figure out how to get the scss file to be recognized                                                                          */
/***************************************************************************************************************************************/

.table-jointjs-cell {
  margin: 0px;
}

.table-header-row-jointjs-cell {
  border-width: 0px 0px 4px 0px;
}

.table-header-jointjs-cell {
  font-size: 14px;
  text-align: center;
  background-color: #3c4650 !important;
  border-bottom: 10px;
  color: #ecf1ff !important;
}

.table-data-column-name-jointjs-cell {
  font-weight: bold;
  font-size: 12px;
  color: #e6e5e9 !important;
}

.table-data-column-data-type-jointjs-cell {
  font-size: 9px;
  color: #ffd817 !important;
}

.table-data-column-icon-span-jointjs-cell {
  float: right;
}

.table-data-column-icon-jointjs-cell {
  width: 20px;
  height: 10px;
}

.table-header-audit-field {
  background-color: #50463c !important;
}
