<simple-edit-select *ngIf="!tableNameSelectedForEdit" id="{{ this.baseHtmlId }}_SimpleMenuSelect"
                    [baseHtmlId]="simpleMenuSelectBaseHtmlId" [labelName]="simpleMenuSelectLabelName"
                    [availableKeys]="getAvailableTableNames()" (keyWasSelected)="loadTableForEdit($event)">
</simple-edit-select>
<sql-table-detail-edit-form *ngIf="tableNameSelectedForEdit"  id="{{ this.baseHtmlId }}_Form"
                       [tableForEditObservable]="tableForEdit$.asObservable()"
                       (resetEditButtonClicked)="resetEdit()" (tableModelWasUpdated)="resetAfterUpdate()" >
</sql-table-detail-edit-form>
