<div class="ps-1 pe-1 pt-3 pb-2" id="sqlColumnDetailEditForm_Title">
  <h5 class="edit-form-menu-form-title h5" id="sqlColumnDetailEditForm_Title_Name" >
    {{ isColumnNew(columnForEdit) ? "add new" : "edit" }}
  </h5>
</div>
<form class="m-2" [formGroup]="columnEditForm" (ngSubmit)="saveColumnModel()" id="sqlColumnDetailEditForm_Form" >
  <div class="mb-3" id="sqlColumnDetailEditForm_Form_NameSection">
    <label class="form-label edit-form-menu-label-primary" for="sqlColumnDetailEditForm_Form_NameSection_Input" id="sqlColumnDetailEditForm_Form_NameSection_Label" >name</label >
    <input class="form-control form-control-sm" formControlName="name" type="text" id="sqlColumnDetailEditForm_Form_NameSection_Input" />
  </div>
  <div class="mb-3" id="sqlColumnDetailEditForm_Form_DescriptionSection">
    <label class="form-label edit-form-menu-label-primary" for="sqlColumnDetailEditForm_Form_DescriptionSection_Input" id="sqlColumnDetailEditForm_Form_DescriptionSection_Label" >description</label >
    <input class="form-control form-control-sm" formControlName="description" type="text" id="sqlColumnDetailEditForm_Form_DescriptionSection_Input" />
  </div>
  <div class="mb-3" id="sqlColumnDetailEditForm_Form_DataTypeSection">
    <label class="form-label edit-form-menu-label-primary" for="sqlColumnDetailEditForm_Form_DataTypeSection_Select" id="sqlColumnDetailEditForm_Form_DataTypeSection_Label" >data type</label >
    <select class="form-control form-control-sm form-select" formControlName="dataType" id="sqlColumnDetailEditForm_Form_DataTypeSection_Select" >
      <option *ngFor="let availableDataType of availableDataTypes" [ngValue]="availableDataType" id="sqlColumnDetailEditForm_Form_DataTypeSection_Select_Option_{{ availableDataType.name }}" >
        {{ availableDataType.name }}
      </option>
    </select>
  </div>
  <div class="mb-3" id="sqlColumnDetailEditForm_Form_ColumnCategorySection">
    <label class="form-label edit-form-menu-label-primary" for="sqlColumnDetailEditForm_Form_ColumnCategorySection_Select" id="sqlColumnDetailEditForm_Form_ColumnCategorySection_Label" >category</label >
    <select class="form-control form-control-sm form-select" formControlName="columnCategory" id="sqlColumnDetailEditForm_Form_ColumnCategorySection_Select" >
      <option *ngFor="let availableColumnCategory of availableColumnCategories" [ngValue]="availableColumnCategory" id="sqlColumnDetailEditForm_Form_ColumnCategorySection_Select_Option_{{ availableColumnCategory.name }}" >
        {{ availableColumnCategory.name }}
      </option>
    </select>
  </div>
  <div class="d-flex justify-content-end ps-1 pe-1 pt-3 pb-1" id="sqlColumnDetailEditForm_Form_Controls" >
    <button class="btn btn-sm save-button m-2" type="submit" id="sqlColumnDetailEditForm_Form_Controls_SaveButton" >
      save
    </button>
    <button class="btn btn-sm cancel-button m-2" type="button" (click)="resetColumnEdit()" id="sqlColumnDetailEditForm_Form_Controls_CancelButton" >
      cancel
    </button>
  </div>
</form>
