#canvasToolExplorer {
  height: 100%;
}

#canvasToolExplorer_JointJsCanvas {
  height: 100%;
  // background-color: var(--bs-tertiary-color);
  background-color: #807c72 !important;
  // background-color: var(--bs-light-border-subtle);
}

#canvasToolExplorer_JointJsPaper {
  transform-origin: 0% 0% 0px;
}
